@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg,#3805F2,#2C04BF);
    height: 100vh;
}

.container{
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    color: #AEF2D3;
}
.container h1{
    text-align: center;
}
.list{
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* text-indent: 1px;
    text-overflow: ''; */
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #EBE9F2;
    outline: 0;
    border: 1px solid #0B0A26;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.list option{
    outline: 0;
    border: 1px solid #0B0A26;
    color: inherit;
    background-color: #3805F2;
}
.table{
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 17px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.table td,.table th{
    padding-top: 10px;
}
.table th{
    border-bottom: 1px solid #0B0A26;
    font-size: 20px;
}
.table input{
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #0B0A26;
    text-align: center;
    color: #EBE9F2;
    font-size: 16px;
}
.btn{
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border: 0;
    border-radius: 9px;
    background-color: #AEF2D3;
    color: #0B0A26;
    font-size: 24px;
    font-weight: bold;
}